/* CajaVentaT.css */
.DineroC {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
  }
  
  .iconoV{
    margin-right: 10px;
  } .iconoD {
    margin-right: 10px;
  }
  
  h2 {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.5rem;
    color: #000000;
    justify-content: center;
  }
  
  .cash-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .cash-info div {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
    font-size: 1rem;
  }
  
  .cash-info div span {
    color: #495057;
  }
  
  .cash-info .HoraInicial, .cash-info .FondoInicial, .cash-info .VentaTotal, .cash-info .HoraCorte {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .cash-info .HoraInicial span, .cash-info .FondoInicial span, .cash-info .VentaTotal span, .cash-info .HoraCorte span {
    font-weight: 500;
  }
  
  .cash-info .FondoInicial span:last-child, .cash-info .VentaTotal span:last-child {
    color: #000000;
  }
  
  .cash-info .HoraInicial span:last-child, .cash-info .HoraCorte span:last-child {
    color: #000000;
  }
  