/* producto.css */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; /* Agrega esta línea */
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.flex-item-left, .flex-item-center, .flex-item-right {
  flex: 1;
}

.categoria-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  padding: 1rem;
  background-color: #eeede9;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegúrate de que el formulario de categoría esté encima */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.categoria-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegúrate de que la superposición esté encima del resto */
}


.categoria-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-icon {
  cursor: pointer;
  font-size: 20px;
  color: #739cad;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #7c7d7e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #959596;
}

.success-message {
  color: green;
  text-align: center;
}

.error-message {
  text-align: center;
}

.agregar-button {
  background-color: #4e504e;
}

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column;
  }
  .categoria-container, .button-container {
      max-width: 100%;
  }
}
/* Sidebar Styles */
.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: #e6e6e6;
  position: sticky; 
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.SidebarList {
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  padding-left: 15px; /* Added padding to align items to the left */
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #828385;
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%;
  color: black; /* Ensures the link text is black */
  text-decoration: none;
}

.sidebar-icon {
  flex: 20%;
  display: flex;
  align-items: center;
  color: black; /* Ensures the icon is black */
}

.row #title {
  flex: 70%; 
  text-align: left; /* Align text to the left */
  margin-left: 10px; /* Add some space between the icon and the title */
}

/* Logout Button */
.logoutButton {
  border-radius: 5px;
  padding: 10px 35px;
  background-color: #f5f6f7;
  border: 1px solid #464343;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
}

.logoutButton:hover,
.logoutButton:focus {
  background-color: #676a6e;
  border-color: #f7f3f3;
  outline: none;
}

/* Main Content */
.content {
  flex: 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  margin-bottom: 30px;
  background: linear-gradient(to right, #fbe966, #ececec);
  padding: 40px 0;
  font-size: 35px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Sidebar {
    width: 60px;
  }

  .SidebarList .row {
    justify-content: center;
  }

  .sidebar-icon {
    flex: 1;
  }

  .row #title {
    display: none;
  }

  .content {
    width: calc(100% - 60px);
    padding-left: 60px;
  }

  .header {
    font-size: 24px;
  }
}