/*body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
}
/*Estilos de sidebar*/
.Sidebar {
    height: 100vh;
    width: 250px;
    background-color: #e6e6e6 ;
    position: sticky; 
    left: 0; 
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    display: flex;
}
.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: #828385;
}
.row #icon {
    flex: 20%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%; 
}

/* Estilos para el botón de salir */
.logoutButton {
    border-radius: 5px;
    padding: 10px 35px;
    background-color: #f5f6f7;
    border: 1px solid #464343; /* Añade un borde al botón */
    cursor: pointer;
    font-size: 14px;/* Ajusta el tamaño del texto del botón */
    text-align: left;
    left: 0; /* Pegada a la izquierda */
}

.logoutButton:hover {
    background-color: #676a6e;
    border-color: #f7f3f3; /* Cambia el color del borde al pasar el ratón sobre el botón */
}

/* Contenedor principal*/
.content {
    flex: 1;
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
/*Encabezado*/
.header {
    margin-bottom: 30px;
    background: linear-gradient(to right, #fbe966, #ececec);
    padding: 40px 0;
    font-size: 35px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .Sidebar {
        width: 60px;
    }

    .SidebarList .row {
        justify-content: center;
    }
    .row #icon {
        flex: 1;
    }

    .row #title {
        display: none;
    }

    /*.logoutButton {
        display: none;
    }*/

    .content {
        width: calc(100% - 60px);
        padding-left: 60px;
    }

    .header {
        
        font-size: 24px;
    }

    
}