.containerC {
  background-color: #f5f2f2;
  padding: 25px;

  box-shadow: 0 0 10px rgb(63, 63, 63);
  width: 500px;
  /* Incrementado el ancho a 500px */
  min-height: 400px;
  /* Incrementada la altura mínima a 400px */
  text-align: center;
  border: 2px solid #000;
}

.title-containerC {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerC {
  margin: 0;
  text-align: left;
  flex-grow: 1;
  font-size: 30px;
  /* Tamaño de fuente más grande para el encabezado */
}

.close-btnC {
  background: none;
  border: none;
  font-size: 20px;
  /* Tamaño de fuente más grande para el botón de cierre */
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.close-btnC:hover {
  color: #ff0000;
}

.divider {
  border: none;
  border-top: 5px solid #000;
  width: 100%;
  margin: 25px 0;
}

.form-groupC {
  margin-bottom: 25px;
}

.form-groupC label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 30px;
  /* Tamaño de fuente más grande para las etiquetas */
}

.form-groupC input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  /* Esquinas más redondeadas */
  font-size: 30px;
  /* Tamaño de fuente más grande para la entrada */
}

.btnC {
  padding: 20px 20px;
  color: rgb(0, 0, 0);
  background-color: #75aaec;
  border: none;
  border-radius: 20px;
  /* Esquinas más redondeadas */
  cursor: pointer;
  font-size: 25px;
  /* Tamaño de fuente más grande para el botón */
}

.btnC:hover {
  background-color: #2980b9;
}